pandas~=2.0.3
matplotlib~=3.7.2
seaborn~=0.12.2
-f https://download.pytorch.org/whl/torch_stable.html
torch~=2.1.0.dev20230709+cu121
-f https://download.pytorch.org/whl/torch_stable.html
torchvision~=0.16.0.dev20230709+cu121

scipy~=1.11.1
numpy~=1.25.0
PyHessian~=0.1